/* Extended Theme Definitions */
.theme-color-0 { color: #c7a488; }
.theme-color-1 { color: #ec59c; }
.theme-color-2 { color: #89a9ab; }
.theme-color-3 { color: #2ec813; }
.theme-color-4 { color: #297908; }
.theme-color-5 { color: #e025a; }
.theme-color-6 { color: #8db640; }
.theme-color-7 { color: #baaff; }
.theme-color-8 { color: #d05a93; }
.theme-color-9 { color: #98f503; }
.theme-color-10 { color: #c8c068; }
.theme-color-11 { color: #97d7c; }
.theme-color-12 { color: #4b31e4; }
.theme-color-13 { color: #8a0fc9; }
.theme-color-14 { color: #ff78d9; }
.theme-color-15 { color: #cd228e; }
.theme-color-16 { color: #ab4368; }
.theme-color-17 { color: #d1352c; }
.theme-color-18 { color: #f31ad4; }
.theme-color-19 { color: #b6932; }
.theme-color-20 { color: #aae713; }
.theme-color-21 { color: #cfd146; }
.theme-color-22 { color: #c645c2; }
.theme-color-23 { color: #14b472; }
.theme-color-24 { color: #bb2f06; }
.theme-color-25 { color: #d7b9ac; }
.theme-color-26 { color: #b23eef; }
.theme-color-27 { color: #664f8; }
.theme-color-28 { color: #14c8fd; }
.theme-color-29 { color: #afe5de; }
.theme-color-30 { color: #8dd645; }
.theme-color-31 { color: #caad61; }
.theme-color-32 { color: #343274; }
.theme-color-33 { color: #bc635f; }
.theme-color-34 { color: #3bef5f; }
.theme-color-35 { color: #d54617; }
.theme-color-36 { color: #b685b7; }
.theme-color-37 { color: #b73b89; }
.theme-color-38 { color: #1cdfae; }
.theme-color-39 { color: #e3a1ef; }
.theme-color-40 { color: #10e689; }
.theme-color-41 { color: #f61a41; }
.theme-color-42 { color: #4f423f; }
.theme-color-43 { color: #ec5859; }
.theme-color-44 { color: #84ae4f; }
.theme-color-45 { color: #7e3f43; }
.theme-color-46 { color: #d3ed91; }
.theme-color-47 { color: #79689b; }
.theme-color-48 { color: #9ad605; }
.theme-color-49 { color: #79a2e0; }
.theme-color-50 { color: #7e3f60; }
.theme-color-51 { color: #60fda2; }
.theme-color-52 { color: #b8fc4c; }
.theme-color-53 { color: #3abe01; }
.theme-color-54 { color: #4c0d67; }
.theme-color-55 { color: #c6d81c; }
.theme-color-56 { color: #478f3f; }
.theme-color-57 { color: #79ce55; }
.theme-color-58 { color: #a4741c; }
.theme-color-59 { color: #d49035; }
.theme-color-60 { color: #a232f5; }
.theme-color-61 { color: #f90462; }
.theme-color-62 { color: #904c8d; }
.theme-color-63 { color: #200da4; }
.theme-color-64 { color: #fe8445; }
.theme-color-65 { color: #1484d1; }
.theme-color-66 { color: #c5a4cf; }
.theme-color-67 { color: #79c246; }
.theme-color-68 { color: #1f9055; }
.theme-color-69 { color: #9a2097; }
.theme-color-70 { color: #b0f227; }
.theme-color-71 { color: #537b44; }
.theme-color-72 { color: #3f2fe1; }
.theme-color-73 { color: #59cba6; }
.theme-color-74 { color: #661aa3; }
.theme-color-75 { color: #12ec8a; }
.theme-color-76 { color: #fe868a; }
.theme-color-77 { color: #7957f; }
.theme-color-78 { color: #97ada2; }
.theme-color-79 { color: #42d60f; }
.theme-color-80 { color: #7b62c2; }
.theme-color-81 { color: #b6b798; }
.theme-color-82 { color: #6b1f22; }
.theme-color-83 { color: #75ee40; }
.theme-color-84 { color: #af8430; }
.theme-color-85 { color: #20c7d9; }
.theme-color-86 { color: #242003; }
.theme-color-87 { color: #2a8186; }
.theme-color-88 { color: #389f94; }
.theme-color-89 { color: #a3986c; }
.theme-color-90 { color: #a1c06f; }
.theme-color-91 { color: #127ae4; }
.theme-color-92 { color: #c05a8e; }
.theme-color-93 { color: #9174cf; }
.theme-color-94 { color: #74c847; }
.theme-color-95 { color: #5e34cd; }
.theme-color-96 { color: #845c84; }
.theme-color-97 { color: #c21847; }
.theme-color-98 { color: #132f80; }
.theme-color-99 { color: #91a991; }
.theme-color-100 { color: #e2ab47; }
.theme-color-101 { color: #10da6d; }
.theme-color-102 { color: #d98247; }
.theme-color-103 { color: #fa2be7; }
.theme-color-104 { color: #fbe946; }
.theme-color-105 { color: #a28418; }
.theme-color-106 { color: #e9d3ea; }
.theme-color-107 { color: #488fa7; }
.theme-color-108 { color: #ccf6b6; }
.theme-color-109 { color: #b68fa3; }
.theme-color-110 { color: #c1e5ac; }
.theme-color-111 { color: #2a4e58; }
.theme-color-112 { color: #57f327; }
.theme-color-113 { color: #19e9ea; }
.theme-color-114 { color: #8833f5; }
.theme-color-115 { color: #c5fbf; }
.theme-color-116 { color: #bc78e7; }
.theme-color-117 { color: #5ad047; }
.theme-color-118 { color: #23c585; }
.theme-color-119 { color: #fa9a8; }
.theme-color-120 { color: #efe854; }
.theme-color-121 { color: #5b8323; }
.theme-color-122 { color: #fc40bb; }
.theme-color-123 { color: #746fab; }
.theme-color-124 { color: #f5df1e; }
.theme-color-125 { color: #a86d51; }
.theme-color-126 { color: #2d2d34; }
.theme-color-127 { color: #540975; }
.theme-color-128 { color: #d3d3a4; }
.theme-color-129 { color: #8f165; }
.theme-color-130 { color: #2c07d9; }
.theme-color-131 { color: #f04676; }
.theme-color-132 { color: #7fbef4; }
.theme-color-133 { color: #e5d573; }
.theme-color-134 { color: #1cc080; }
.theme-color-135 { color: #f906af; }
.theme-color-136 { color: #6c8614; }
.theme-color-137 { color: #d560ef; }
.theme-color-138 { color: #76887b; }
.theme-color-139 { color: #7ae335; }
.theme-color-140 { color: #69dd82; }
.theme-color-141 { color: #fd4d4; }
.theme-color-142 { color: #642461; }
.theme-color-143 { color: #a70294; }
.theme-color-144 { color: #b5d3dc; }
.theme-color-145 { color: #b856aa; }
.theme-color-146 { color: #4cfc90; }
.theme-color-147 { color: #513cbc; }
.theme-color-148 { color: #619926; }
.theme-color-149 { color: #b4420; }
.theme-color-150 { color: #deefa8; }
.theme-color-151 { color: #828490; }
.theme-color-152 { color: #315298; }
.theme-color-153 { color: #b08319; }
.theme-color-154 { color: #60f3a3; }
.theme-color-155 { color: #ae93b6; }
.theme-color-156 { color: #51dd8a; }
.theme-color-157 { color: #482cf1; }
.theme-color-158 { color: #3161cc; }
.theme-color-159 { color: #2bd4d4; }
.theme-color-160 { color: #e267c9; }
.theme-color-161 { color: #88f423; }
.theme-color-162 { color: #80fc5b; }
.theme-color-163 { color: #3b8232; }
.theme-color-164 { color: #f7e86e; }
.theme-color-165 { color: #15fa7e; }
.theme-color-166 { color: #66dcda; }
.theme-color-167 { color: #65e641; }
.theme-color-168 { color: #ae961c; }
.theme-color-169 { color: #1c47db; }
.theme-color-170 { color: #c062a6; }
.theme-color-171 { color: #2fea05; }
.theme-color-172 { color: #829648; }
.theme-color-173 { color: #dc9930; }
.theme-color-174 { color: #501003; }
.theme-color-175 { color: #591821; }
.theme-color-176 { color: #20dbac; }
.theme-color-177 { color: #20749e; }
.theme-color-178 { color: #37ecec; }
.theme-color-179 { color: #634a52; }
.theme-color-180 { color: #192218; }
.theme-color-181 { color: #9966c3; }
.theme-color-182 { color: #58106d; }
.theme-color-183 { color: #3adcb7; }
.theme-color-184 { color: #8f47b9; }
.theme-color-185 { color: #e258f7; }
.theme-color-186 { color: #3d76a6; }
.theme-color-187 { color: #1bf07d; }
.theme-color-188 { color: #e86580; }
.theme-color-189 { color: #7be448; }
.theme-color-190 { color: #4a2e19; }
.theme-color-191 { color: #8964a; }
.theme-color-192 { color: #366746; }
.theme-color-193 { color: #4ddff6; }
.theme-color-194 { color: #50e4d2; }
.theme-color-195 { color: #42cf44; }
.theme-color-196 { color: #a22e7c; }
.theme-color-197 { color: #9cc6b; }
.theme-color-198 { color: #faf9dd; }
.theme-color-199 { color: #2ef17d; }
.theme-color-200 { color: #e168f; }
.theme-color-201 { color: #fa99da; }
.theme-color-202 { color: #f9bd33; }
.theme-color-203 { color: #c797aa; }
.theme-color-204 { color: #ddb706; }
.theme-color-205 { color: #834018; }
.theme-color-206 { color: #594965; }
.theme-color-207 { color: #bca85a; }
.theme-color-208 { color: #507d1d; }
.theme-color-209 { color: #3fc3f; }
.theme-color-210 { color: #effcc; }
.theme-color-211 { color: #c2a3b; }
.theme-color-212 { color: #147bcc; }
.theme-color-213 { color: #8a4c70; }
.theme-color-214 { color: #f8b43f; }
.theme-color-215 { color: #a4ea95; }
.theme-color-216 { color: #a49a1f; }
.theme-color-217 { color: #880ba2; }
.theme-color-218 { color: #c826f1; }
.theme-color-219 { color: #8854a1; }
.theme-color-220 { color: #39a8fc; }
.theme-color-221 { color: #3cf620; }
.theme-color-222 { color: #927620; }
.theme-color-223 { color: #7d225d; }
.theme-color-224 { color: #681aba; }
.theme-color-225 { color: #25854a; }
.theme-color-226 { color: #2ca0c2; }
.theme-color-227 { color: #f7fea9; }
.theme-color-228 { color: #128849; }
.theme-color-229 { color: #7024ac; }
.theme-color-230 { color: #111590; }
.theme-color-231 { color: #51c888; }
.theme-color-232 { color: #3303d6; }
.theme-color-233 { color: #923945; }
.theme-color-234 { color: #dcb880; }
.theme-color-235 { color: #756140; }
.theme-color-236 { color: #95ddc1; }
.theme-color-237 { color: #6a7b22; }
.theme-color-238 { color: #a40c14; }
.theme-color-239 { color: #6a2264; }
.theme-color-240 { color: #59e518; }
.theme-color-241 { color: #242218; }
.theme-color-242 { color: #634773; }
.theme-color-243 { color: #fa1df8; }
.theme-color-244 { color: #ecf035; }
.theme-color-245 { color: #67beb4; }
.theme-color-246 { color: #71fbfb; }
.theme-color-247 { color: #a1f13c; }
.theme-color-248 { color: #3a6de1; }
.theme-color-249 { color: #471045; }
.theme-color-250 { color: #cc8e78; }
.theme-color-251 { color: #e35607; }
.theme-color-252 { color: #689f2c; }
.theme-color-253 { color: #2d7fd7; }
.theme-color-254 { color: #b531d1; }
.theme-color-255 { color: #1b0766; }
.theme-color-256 { color: #cf91d5; }
.theme-color-257 { color: #804694; }
.theme-color-258 { color: #eac626; }
.theme-color-259 { color: #834c29; }
.theme-color-260 { color: #94f7cd; }
.theme-color-261 { color: #73e6ba; }
.theme-color-262 { color: #901ed8; }
.theme-color-263 { color: #efbcbd; }
.theme-color-264 { color: #4dabb8; }
.theme-color-265 { color: #523175; }
.theme-color-266 { color: #273178; }
.theme-color-267 { color: #339646; }
.theme-color-268 { color: #91ffde; }
.theme-color-269 { color: #e7ba4b; }
.theme-color-270 { color: #6ce3e7; }
.theme-color-271 { color: #f1029a; }
.theme-color-272 { color: #39d817; }
.theme-color-273 { color: #f7164b; }
.theme-color-274 { color: #eb3c1f; }
.theme-color-275 { color: #a67e98; }
.theme-color-276 { color: #568f85; }
.theme-color-277 { color: #b779fd; }
.theme-color-278 { color: #e49c2b; }
.theme-color-279 { color: #156650; }
.theme-color-280 { color: #e4365d; }
.theme-color-281 { color: #3694c1; }
.theme-color-282 { color: #59d77c; }
.theme-color-283 { color: #d80052; }
.theme-color-284 { color: #89965d; }
.theme-color-285 { color: #eff0e2; }
.theme-color-286 { color: #d23fbc; }
.theme-color-287 { color: #911c72; }
.theme-color-288 { color: #69283f; }
.theme-color-289 { color: #e72c57; }
.theme-color-290 { color: #ecd0f7; }
.theme-color-291 { color: #94e2c4; }
.theme-color-292 { color: #a91f9f; }
.theme-color-293 { color: #a0a7db; }
.theme-color-294 { color: #c67a86; }
.theme-color-295 { color: #e1edbe; }
.theme-color-296 { color: #6b402c; }
.theme-color-297 { color: #902b71; }
.theme-color-298 { color: #6b09e0; }
.theme-color-299 { color: #102d13; }
.theme-color-300 { color: #4a00ca; }
.theme-color-301 { color: #84e2b9; }
.theme-color-302 { color: #e9e027; }
.theme-color-303 { color: #bdba40; }
.theme-color-304 { color: #b9a2a; }
.theme-color-305 { color: #4790f9; }
.theme-color-306 { color: #271258; }
.theme-color-307 { color: #d003a0; }
.theme-color-308 { color: #5bea28; }
.theme-color-309 { color: #945a4; }
.theme-color-310 { color: #653b50; }
.theme-color-311 { color: #9bb067; }
.theme-color-312 { color: #6cf6ec; }
.theme-color-313 { color: #4a9ab1; }
.theme-color-314 { color: #13a3e2; }
.theme-color-315 { color: #39c70c; }
.theme-color-316 { color: #cc52a1; }
.theme-color-317 { color: #174317; }
.theme-color-318 { color: #cf5381; }
.theme-color-319 { color: #f2225; }
.theme-color-320 { color: #177729; }
.theme-color-321 { color: #46099c; }
.theme-color-322 { color: #8ba733; }
.theme-color-323 { color: #d57f61; }
.theme-color-324 { color: #5f1a1f; }
.theme-color-325 { color: #645933; }
.theme-color-326 { color: #d2705a; }
.theme-color-327 { color: #e06251; }
.theme-color-328 { color: #d8f33c; }
.theme-color-329 { color: #904898; }
.theme-color-330 { color: #f12bea; }
.theme-color-331 { color: #828855; }
.theme-color-332 { color: #4cea60; }
.theme-color-333 { color: #c733c7; }
.theme-color-334 { color: #2a5445; }
.theme-color-335 { color: #6adc7a; }
.theme-color-336 { color: #a946bd; }
.theme-color-337 { color: #6d2e9c; }
.theme-color-338 { color: #a16d20; }
.theme-color-339 { color: #d384ff; }
.theme-color-340 { color: #e39eec; }
.theme-color-341 { color: #e2cacc; }
.theme-color-342 { color: #6170b0; }
.theme-color-343 { color: #e6f229; }
.theme-color-344 { color: #ccce25; }
.theme-color-345 { color: #5a4668; }
.theme-color-346 { color: #6f938f; }
.theme-color-347 { color: #e3a34e; }
.theme-color-348 { color: #cb0bc7; }
.theme-color-349 { color: #dfcb47; }
.theme-color-350 { color: #3cebba; }
.theme-color-351 { color: #8db658; }
.theme-color-352 { color: #e84919; }
.theme-color-353 { color: #e9448c; }
.theme-color-354 { color: #23671e; }
.theme-color-355 { color: #ec4b2f; }
.theme-color-356 { color: #2bf8dd; }
.theme-color-357 { color: #524936; }
.theme-color-358 { color: #dc7d6e; }
.theme-color-359 { color: #d0b669; }
.theme-color-360 { color: #fc0a2a; }
.theme-color-361 { color: #ac2940; }
.theme-color-362 { color: #504361; }
.theme-color-363 { color: #25ab8f; }
.theme-color-364 { color: #c56fc6; }
.theme-color-365 { color: #b17ae1; }
.theme-color-366 { color: #3ed5f0; }
.theme-color-367 { color: #430e5; }
.theme-color-368 { color: #f1adb6; }
.theme-color-369 { color: #10484d; }
.theme-color-370 { color: #7a9932; }
.theme-color-371 { color: #e4e7d2; }
.theme-color-372 { color: #23953f; }
.theme-color-373 { color: #78dd15; }
.theme-color-374 { color: #7b46ff; }
.theme-color-375 { color: #497592; }
.theme-color-376 { color: #ecc10e; }
.theme-color-377 { color: #9a149d; }
.theme-color-378 { color: #e22bce; }
.theme-color-379 { color: #af6fc; }
.theme-color-380 { color: #e10043; }
.theme-color-381 { color: #82531a; }
.theme-color-382 { color: #7a1009; }
.theme-color-383 { color: #a57da8; }
.theme-color-384 { color: #b8d45c; }
.theme-color-385 { color: #b03b46; }
.theme-color-386 { color: #663228; }
.theme-color-387 { color: #7676d; }
.theme-color-388 { color: #c45bf2; }
.theme-color-389 { color: #72f3be; }
.theme-color-390 { color: #8b86bd; }
.theme-color-391 { color: #7226a2; }
.theme-color-392 { color: #d6b069; }
.theme-color-393 { color: #e22e8d; }
.theme-color-394 { color: #3838d7; }
.theme-color-395 { color: #359977; }
.theme-color-396 { color: #f84c2a; }
.theme-color-397 { color: #553488; }
.theme-color-398 { color: #f2c587; }
.theme-color-399 { color: #d383be; }
.theme-color-400 { color: #956330; }
.theme-color-401 { color: #bafc4; }
.theme-color-402 { color: #a39057; }
.theme-color-403 { color: #f118fb; }
.theme-color-404 { color: #1be7e8; }
.theme-color-405 { color: #57a09b; }
.theme-color-406 { color: #50246d; }
.theme-color-407 { color: #cdb6de; }
.theme-color-408 { color: #6acea3; }
.theme-color-409 { color: #2489f8; }
.theme-color-410 { color: #76e237; }
.theme-color-411 { color: #92366a; }
.theme-color-412 { color: #589905; }
.theme-color-413 { color: #fd69a1; }
.theme-color-414 { color: #e51c37; }
.theme-color-415 { color: #1e628d; }
.theme-color-416 { color: #f86741; }
.theme-color-417 { color: #6f018a; }
.theme-color-418 { color: #64a6a1; }
.theme-color-419 { color: #d373a2; }
.theme-color-420 { color: #c31185; }
.theme-color-421 { color: #e04335; }
.theme-color-422 { color: #1706de; }
.theme-color-423 { color: #e88d17; }
.theme-color-424 { color: #597906; }
.theme-color-425 { color: #69fb35; }
.theme-color-426 { color: #8f5128; }
.theme-color-427 { color: #7d0394; }
.theme-color-428 { color: #6f2650; }
.theme-color-429 { color: #7463e8; }
.theme-color-430 { color: #41baaa; }
.theme-color-431 { color: #f06d16; }
.theme-color-432 { color: #eb7c6b; }
.theme-color-433 { color: #346bde; }
.theme-color-434 { color: #e1d09b; }
.theme-color-435 { color: #4367e2; }
.theme-color-436 { color: #8f111d; }
.theme-color-437 { color: #84f758; }
.theme-color-438 { color: #db0d1c; }
.theme-color-439 { color: #3f6bea; }
.theme-color-440 { color: #2a3df1; }
.theme-color-441 { color: #db4a4; }
.theme-color-442 { color: #80fe08; }
.theme-color-443 { color: #dc67ad; }
.theme-color-444 { color: #ae1a13; }
.theme-color-445 { color: #b3298c; }
.theme-color-446 { color: #288586; }
.theme-color-447 { color: #eb8923; }
.theme-color-448 { color: #d45b5d; }
.theme-color-449 { color: #ea2f34; }
.theme-color-450 { color: #4aa3fe; }
.theme-color-451 { color: #79ee3b; }
.theme-color-452 { color: #e27448; }
.theme-color-453 { color: #a74ab9; }
.theme-color-454 { color: #979b4d; }
.theme-color-455 { color: #b746ba; }
.theme-color-456 { color: #e71e82; }
.theme-color-457 { color: #72e893; }
.theme-color-458 { color: #321465; }
.theme-color-459 { color: #f867be; }
.theme-color-460 { color: #b285d0; }
.theme-color-461 { color: #604385; }
.theme-color-462 { color: #c29db; }
.theme-color-463 { color: #99ae4f; }
.theme-color-464 { color: #6315bb; }
.theme-color-465 { color: #25f8ef; }
.theme-color-466 { color: #762da1; }
.theme-color-467 { color: #be77e9; }
.theme-color-468 { color: #df5563; }
.theme-color-469 { color: #c2b142; }
.theme-color-470 { color: #4d389e; }
.theme-color-471 { color: #d1cecb; }
.theme-color-472 { color: #f4852f; }
.theme-color-473 { color: #c25d0f; }
.theme-color-474 { color: #7edd18; }
.theme-color-475 { color: #77beb7; }
.theme-color-476 { color: #ce5b94; }
.theme-color-477 { color: #f0eb79; }
.theme-color-478 { color: #99d67a; }
.theme-color-479 { color: #56e56c; }
.theme-color-480 { color: #ef549f; }
.theme-color-481 { color: #acd839; }
.theme-color-482 { color: #c9fc26; }
.theme-color-483 { color: #2281ba; }
.theme-color-484 { color: #ab6e2a; }
.theme-color-485 { color: #a16466; }
.theme-color-486 { color: #bf4020; }
.theme-color-487 { color: #9e5472; }
.theme-color-488 { color: #869aae; }
.theme-color-489 { color: #d59490; }
.theme-color-490 { color: #c1230; }
.theme-color-491 { color: #98f853; }
.theme-color-492 { color: #494e01; }
.theme-color-493 { color: #7427f6; }
.theme-color-494 { color: #e06c64; }
.theme-color-495 { color: #8e5be7; }
.theme-color-496 { color: #e7efd6; }
.theme-color-497 { color: #c9fa1c; }
.theme-color-498 { color: #a8cbbe; }
.theme-color-499 { color: #6411ad; }
